
<style type="text/css">
  h1 { text-shadow: 0 0 10px #000; color: transparent;}
  h2 { font-size: 3rem; margin-bottom:.8rem; color:black }
  div.jumbotron { height: 400px;background:url(<%= asset_path "top.jpg" %>) no-repeat;background-position : 50% 65%;background-size: cover; }
  a.btn { color:#292b2c; border-color:#ccc; }
</style>



<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><font color="white">Rails<br>Command<br>Generator</font></h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h2>Target User</h2>
      <p>He is an engineer who often forgets Ruby on Rails commands. In other words, it is about me.</p>
    </div>
    <div class="col-md-4">
      <h2>What you can do</h2>
      <p>You can generate commands to use with Ruby on Rails. However, it is a command I frequently use.</p>
    </div>
    <div class="col-md-4">
      <h2>Future</h2>
      <p>Increase the number of commands that can be generated little by little.If I give mind.</p>
    </div>
  </div>

</div>
